<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.liang.bean.Comment">
    <id column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="pcontent" jdbcType="VARCHAR" property="pcontent" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    pid, pcontent, userid, fid, create_time, update_time
  </sql>

  <!-- 新增评论信息 -->
  <insert id="insert" parameterType="com.liang.bean.Comment">
    insert into comment
    values (#{pid,jdbcType=VARCHAR},
            #{pcontent,jdbcType=VARCHAR},
            #{userid,jdbcType=VARCHAR},
            #{fid,jdbcType=VARCHAR},
            now(),
            now())
  </insert>

  <!-- 按pid删除评论信息 -->
  <delete id="deleteByKey" parameterType="java.lang.String">
    delete from comment
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>

  <!-- 删除某用户对应的所有评论信息 -->
  <delete id="deleteByUserid" parameterType="java.lang.String">
    delete from comment
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>

  <!-- 按文章id（fid）查询评论表信息 -->
  <select id="selectCommentByFid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from comment
    where fid = #{fid,jdbcType=VARCHAR}
    order by create_time desc
  </select>

  <!-- 按文章id（fid）查询评论表信息（包含用户名、用户头像） -->
  <select id="selectCommentImplByFid" parameterType="java.lang.String" resultType="com.liang.bean.impl.CommentImpl">
    select com.pid, com.pcontent, com.userid, com.fid, com.create_time, com.update_time, u.name, v.photo as userPhoto
    from comment com left join user u on com.userid = u.userid
        left join via v on com.userid = v.userid
    where fid = #{fid,jdbcType=VARCHAR}
    order by create_time desc
  </select>

  <!-- 最新评论 -->
  <select id="selectNewComment" resultType="com.liang.bean.impl.CommentImpl">
    select c.pid, c.fid, c.pcontent, c.userid, c.create_time, u.name
    from comment c left join user u on c.userid = u.userid
    order by create_time desc
    limit 10
  </select>
  
  <!-- 按文章id（fid）查询该条文章的评论数 -->
  <select id="selectCountByFid" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1)
    from comment
    where fid = #{fid,jdbcType=VARCHAR}
  </select>

</mapper>