<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.EnjoyMapper">
  <resultMap id="BaseResultMap" type="com.liang.bean.Enjoy">
    <id column="eid" jdbcType="VARCHAR" property="eid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    eid, userid, fid, create_time
  </sql>

  <!-- 新增点赞信息 -->
  <insert id="insert" parameterType="com.liang.bean.Enjoy">
    insert into enjoy
    values (#{eid,jdbcType=VARCHAR},
            #{userid,jdbcType=VARCHAR},
            #{fid,jdbcType=VARCHAR},
            now())
  </insert>

  <!-- 按eid删除点赞信息 -->
  <delete id="deleteByKey" parameterType="java.lang.String">
    delete from enjoy
    where eid = #{eid,jdbcType=VARCHAR}
  </delete>

  <!-- 按userid和fid删除点赞 -->
  <delete id="deleteByUF" parameterType="com.liang.bean.Enjoy">
    delete from enjoy
    where userid = #{userid,jdbcType=VARCHAR} and fid = #{fid,jdbcType=VARCHAR}
  </delete>

  <!-- 查询所有点赞信息 -->
  <select id="selectEnjoy" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enjoy
    order by create_time desc
  </select>
  
  <!-- 按点赞者id和被点赞文章id进行查询 -->
  <select id="selectEnjoyByUF" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from enjoy
    where userid = #{userid,jdbcType=VARCHAR} and fid = #{fid,jdbcType=VARCHAR}
  </select>
  
</mapper>