<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.PhotoProMapper">
  <resultMap id="BaseResultMap" type="com.liang.bean.PhotoPro">
    <id column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    fid, userid, name, create_time, update_time
  </sql>

  <!-- 创建相册 -->
  <insert id="insert" parameterType="com.liang.bean.PhotoPro">
    insert into photo_pro
    values (#{fid,jdbcType=VARCHAR},
            #{userid,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            now(),
            now())
  </insert>

  <!-- 删除相册 -->
  <delete id="deleteByKey" parameterType="java.lang.String">
    delete from photo_pro
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>

  <!-- 编辑相册 -->
  <update id="updateNameByKey" parameterType="com.liang.bean.PhotoPro">
    update photo_pro
    set name = #{name,jdbcType=VARCHAR},
        update_time = now()
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  
  <!-- 查询某用户的相册分类信息 -->
  <select id="selectPhotoProImplByUserid" parameterType="java.lang.String" resultType="com.liang.bean.impl.PhotoProImpl">
    select
    pr.fid, pr.userid, pr.name, pr.create_time, pr.update_time, tp.photo
    from photo_pro pr left join tb_photo tp on pr.fid=tp.fid
    where pr.userid = #{userid,jdbcType=VARCHAR}
	group by pr.fid
    order by pr.create_time desc
  </select>

  <!-- 按fid（相册id）查询相册信息 -->
  <select id="selectPhotoProByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo_pro
    where fid = #{fid,jdbcType=VARCHAR}
  </select>

  <!-- 按userid和name（相册名）查询相册信息 -->
  <select id="selectPhotoProByUN" parameterType="com.liang.bean.PhotoPro" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from photo_pro
    where name = #{name,jdbcType=VARCHAR} and userid = #{userid,jdbcType=VARCHAR}
  </select>
  
</mapper>