<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.dao.TbPhotoMapper">
  <resultMap id="BaseResultMap" type="com.liang.bean.TbPhoto">
    <id column="xid" jdbcType="VARCHAR" property="xid" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    xid, fid, userid, photo, create_time
  </sql>

  <!-- 上传照片 -->
  <insert id="insert" parameterType="com.liang.bean.TbPhoto">
    insert into tb_photo
    values (#{xid,jdbcType=VARCHAR},
            #{fid,jdbcType=VARCHAR},
            #{userid,jdbcType=VARCHAR},
            #{photo,jdbcType=VARCHAR},
            now())
  </insert>

  <!-- 删除某一张照片 -->
  <delete id="deleteByKey" parameterType="java.lang.String">
    delete from tb_photo
    where xid = #{xid,jdbcType=VARCHAR}
  </delete>

  <!-- 删除相册对应的照片 -->
  <delete id="deleteByFid" parameterType="java.lang.String">
    delete from tb_photo
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>

  <!-- 按xid查询照片信息 -->
  <select id="selectTbPhotoByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_photo
    where xid = #{xid,jdbcType=VARCHAR}
  </select>
  
  <!-- 获取相册分类下的对应的照片 -->
  <select id="selectTbPhotoByFU" parameterType="com.liang.bean.TbPhoto" resultMap="BaseResultMap">
    select 
    tp.xid, tp.fid, tp.userid, tp.photo, tp.create_time, pr.name
    from tb_photo tp join photo_pro pr on tp.fid=pr.fid
    where tp.fid = #{fid,jdbcType=VARCHAR} and tp.userid = #{userid,jdbcType=VARCHAR}
    order by tp.create_time desc
  </select>
  
</mapper>